extends ../layout

//- 직원 조회 페이지
block content
  .container
    h1.text-center.mt-5.mb-5 직원 목록
      
      //- form(action="/inquiryEmployee", method="post")
      //-   .form-row
      //-       .form-group.col-md-4
      //-         label(for="nameSearch") 직원 이름
      //-         input.form-control(type="text", placeholder="name", name="name" id="nameSearch")
      //-       .form-group.col-md-4
      //-         label(for="skillSearch") Skill
      //-         input.form-control(type="text", placeholder="javascript", name="skill" id="skillSearch")
      //-       .form-group.col-md-4
      //-         label(for="inputState") 부서
      //-         select#inputState.form-select.m-0(name="department" size="1")
      //-           option(value='1') 마케팅
      //-           option(value='2') 연구관리
      //-           option(value='3') 경영관리
      //-           option(value='4') 개발
      //-   .row.justify-content-start.mt-43
      //-       .col(style="margin-bottom: 1em")
      //-       button.btn.btn-outline-dark(type="submit", style="float: right") Search

    .list-group.list-group-flush(style="margin-top: 10px")
      each employee in employees
        a.list-group-item.list-group-item-action(href=`/employee/detail/${employee.emp_no}`)= `${employee.name} (사번 - ${employee.emp_no})`




